* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

main {
    position: relative;
    top: 5px;
    margin: 5px;
}

div {
    padding: 5px;
}

h1, h2, p {
    text-shadow: #6C4C12 0 7px 4px;
}

p, li {
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px 0px;
}

h2 {
    font-size: 24px;
}

#birthday-image {
    border: solid 2px #DDD2A5;
    padding: 10px;
    display: block;
    margin: 5px auto;
    width: 90%;
}

div {
    text-align: center;
}

body {
    font-family: 'Gwendolyn';
    color: #DDD2A5;
    background-color: #000;
}

a {
    font-family: 'Gwendolyn';
    color: #DDD2A5;
    position: absolute;
    font-size: 50px;
    text-align: center;
}

ul { 
    display: inline-block; 
    margin: 0px 20px;
}

#border {
    display: flex;
    height: 100%;
    justify-content: center;
}

#image-border {
   width: 100%;
}

#invite-link {
    position: absolute;
    align-self: center;
    margin: 10px;
}